/* ========== Begin General Tag Styling ========== */

html,
body
{
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

a
{
  color: #238dcd;
  text-decoration: none;
}

a:hover
{
  color: #074d82;
  text-decoration: underline;
  cursor: pointer;
}

form
{
  margin: 0;
}

h1
{
  font-size: 21px;
  color: #074d82;
  font-weight: 600;
  margin: 0 0 24px 0;
}

input[type="text"],
select
{
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 1.4em;
  box-sizing: border-box;
}

input[type="text"]::placeholder
{
  color: #999;
}

select
{
  background: #fff url('img/icons.png') no-repeat right -162px;
  box-sizing: border-box;
  padding-right: 40px;
  color: #444;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 8px;
}

select:hover
{
  background-position: right -202px;
  cursor: pointer;
}

input[type="text"]:focus,
select:focus
{
  border-color: #9ac9e5;
  outline: none;
  box-shadow: 0 2px 12px rgba(189,220,238,0.5);
}

select option:first-child
{
  color: #999;
}

option
{
  padding: 4px;
  border: none;
}

option[value=""]
{
  color: #999;
}

table
{
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
}

th
{
  font-size: 18px;
  font-weight: 400;
  color: #666;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tbody tr
{
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  color: #444;
}

tbody tr:nth-child(odd)
{
  background: #f9f9f9;
}

tbody tr:hover
{
  background-color: #f4f9fc;
  border-color: #9ac9e5;
}

tbody td
{
  padding: 16px;
}

/* =========== End General Tag Styling =========== */


/* ========== Begin Global Class Styling ========== */

.wrapper
{
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.btn
{
  background: #238dcd;
  padding: 10px 24px;
  line-height: 1.1em;
  color: #fff;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  display: inline-block;
}

.btn:hover
{
  background: #0976b8;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-subtle
{
  background: #fff;
  border: 1px solid #ddd;
  padding: 9px 23px;
  color: #238dcd;
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover
{
  opacity: 0.6;
  background: #238dcd;
  cursor: not-allowed;
}

input.has-error
{
  border-color: #cc0000;
  box-shadow: 0 2px 12px rgba(229,172,172,0.5);
}

.form-errors
{
  margin-top: 16px;
}

.form-errors:empty
{
  margin-top: 0;
}

.notification
{
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #bce8f1;
  color: #31708f;
  background: #d9edf7;
  border-radius: 4px;
  font-size: 14px;
}

.notification.error
{
  color: #a94442;
  background: #f2dede;
  border-color: #ebccd1;
}

/* =========== End Global Class Styling =========== */


/* ========== Begin Template Styling ========== */

.header
{
  background: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  margin-bottom: 24px;
}

.header::after
{
  content: '';
  display: block;
  clear: both;
}

.header .btn
{
  float: right;
}

h1 .info-pill
{
  background: #238dcd;
  color: #fff;
  font-size: 14px;
  padding: 2px 8px;
  line-height: 1em;
  border-radius: 4px;
  margin-left: 4px;
}

.mod
{
  background: #fff;
  border: 1px solid #ddd;
  padding: 16px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
}

.search-bar
{
  position: relative;
}

.search-bar input[type="text"]
{
  padding-right: 45px;
  width: 100%;
}

.search-bar input[type="submit"]
{
  position: absolute;
  top: 1px;
  right: 1px;
  background: url(img/icons.png) no-repeat right -243px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  width: 40px;
  height: 34px;
  border: 0;
  border-radius: 0 3px 3px 0;
}

.search-bar input[type="submit"]:hover
{
  background-position: right -283px;
  cursor: pointer;
  background-color: #fafafa;
  border-left: 1px solid #eee;
}

.typeahead-selector
{
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.typeahead-selector a
{
  padding: 8px 16px;
  display: block;
  box-sizing: border-box;
}

.typeahead-selector a:hover
{
  text-decoration: none;
  background: #fafafa;
}

/* =========== End Template Styling =========== */


/* ========= Begin Content Styling =========== */

.add-provider
{
  margin-bottom: 48px;
  clear: both;
}

.add-provider-form
{
  display: flex;
}

.add-provider-form input
{
  flex-grow: 1;
  margin-right: 16px;
}

.add-provider-form input:last-child
{
  margin-right: 0;
}

.close-form
{
  background: url(img/icons.png) no-repeat right -402px;
  float: right;
  display: block;
  width: 40px;
  height: 40px;  
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.close-form:hover
{
  background-position: right -442px;
  cursor: pointer;
}

.product-title
{
  float: left;
  margin-top: 8px;
}

.directory-actions
{
  float: right;
  margin-bottom: 32px;
}

.directory-actions > div
{
  float: right;
  margin-left: 32px;
}

.directory-actions label
{
  color: #999;
}

.provider-directory table
{
  clear: both;
  margin-bottom: 32px;
}

.provider-directory th.sort-option
{
  background: url(img/icons.png) no-repeat right top;
  padding-right: 40px;
}

.provider-directory th.sort-option.sort-asc
{
  color: #074d82;
  background-position: right -120px;
  border-bottom-color: #9ac9e5;
}

.provider-directory th.sort-option.sort-desc
{
  color: #074d82;
  background-position: right -80px;
  border-bottom-color: #9ac9e5;
}

.provider-directory th.sort-option:hover
{
  color: #0976b8;
  border-bottom-color: #9ac9e5;
  cursor: pointer;
  background-position: right -40px;
}

.provider-directory th.sort-option.sort-desc:hover
{
  background-position: right -80px;
}

.provider-directory th.sort-option.sort-asc:hover
{
  background-position: right -120px;
}

.provider-directory table tr td:first-child,
.provider-directory table tr th:first-child
{
  width: 42px;
}

.provider-directory table tr td,
.provider-directory table tr th
{
  border-right: 1px solid #eee;
}

.provider-directory table tr td:last-child,
.provider-directory table tr th:last-child
{
  border-right: 0;
}

td.provider-info
{
  width: 40%;
  height: 45px;
}

.provider-info strong
{
  font-size: 18px;
  color: #074d82;
  font-weight: 600;
  display: block;
}

.provider-info span
{
  font-size: 14px;
  color: #777;
}

.provider-actions
{
  position: relative;
  display: none;
}

.provider-directory table tr:hover .provider-actions
{
  display: block;
}

.provider-actions > .btn
{
  background: #fff url(img/icons.png) no-repeat right -322px;
  width: 40px;
  padding: 0;
  height: 36px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.provider-actions > .btn:hover
{
  background-position: right -362px;
  border-color: #9ac9e5;
  outline: none;
  box-shadow: 0 2px 12px rgba(189,220,238,0.5);
}

.provider-actions-menu
{
  display: none;
  position: absolute;
  z-index: 2;
  top: 37px;
  left: 0;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  min-width: 160px;
}

.provider-actions-menu a
{
  padding: 8px 16px;
  display: block;
  box-sizing: border-box;
}

.provider-actions-menu a:hover
{
  text-decoration: none;
  background: #fafafa;
}

.provider-actions:hover span
{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #fff;
}

.provider-actions:hover .provider-actions-menu
{
  display: block;
}

/* ========== End Content Styling ============ */
